{{!-- Partial for each individual comment --}}
<div class="card">
    <h3 class="post-header">This is the post title </h3>
    <h4>Posted by User on 12/1/2020</h4>
    <div class="container">
        <p class="post-text">This is the post content</p>
    </div>
</div>