<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="./css/main.css">

</head>

<body>
    {{!-- Nav bar that goes on every page --}}
    <nav id="navbar">
        <ul id="navbar-ul">
            <li>
                <p>Home</p>
            </li>
            <li>
                <p>Dashboard</p>
            </li>
            <li>
                <p>Logout</p>
            </li>
        </ul>
        <h1 id="nav-header">The Tech Blog</h1>
    </nav>
    {{{body}}}

</body>

</html>