<div class="card single-post-padding">
    <h1 class="post-header">{{post.title}} </h1>
    <h4>Posted by {{post.user.username}} on 12/1/2020</h4>
    <div class="container">
        <p class="post-text post-text-padding">{{post.body}}</p>
    </div>
</div>
{{!-- Handle the comments --}}
{{#each post.comments as |aComment|}}
{{> comment aComment}}
{{/each}}
<link rel="stylesheet" href="/css/single-post.css">