* {
  margin: 0;
}
#navbar {
  list-style-type: none;
  padding: 50px;
  margin: 0;
  background-color: #231010;
}

#navbar li {
  padding: 10px;
  display: inline;
}

#navbar li p {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #d9ead3;
  display: inline;
  font-size: large;
}
#nav-header {
  color: #d9ead3;
  font-size: xx-large;
  padding: 50px;
}
